{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-typescript/recommended",
    "@vue/eslint-config-prettier",
    "@vue/eslint-config-typescript"
  ],
  "plugins": [],
  "rules": {
    "no-unused-vars": "error",
    "vue/no-unused-vars": "error",
    "quote-props": [
      "error",
      "as-needed"
    ]
  }
}