{
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "no-unused-vars": "error",
    "vue/no-unused-vars": "error",
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "object-curly-spacing": [
      2,
      "never"
    ]
  }
}